// footer
footer.footer 
	.container
		.footer__top
			a(href="#").logo 
				img(src="img/logo.svg", alt="")
			nav.footer__menu
				ul.footer__list 
					li
						a(href="#") О проекте
					li
						a(href="#") Контакты
					li
						a(href="#") Реклама
					li
						a(href="#") Форумы
		.footer__bottom.flex-nowrap
			.row.align-items-center.no-gutters
				.col
					.footer__copyright
						span  © RUPEC, 2021 
						span Информационно-аналитический центр
				.col.col-xl-4.pl.pl-xl-5
					// social
					.social
						.social__title Социальные сети:
						.social__row 
							a(href="#").social__icon 
								img(src="img/facecbook-icon.svg", alt="")
							a(href="#").social__icon 
								img(src="img/telegram-icon.svg", alt="")
							a(href="#").social__icon 
								img(src="img/vk-icon.svg", alt="")
							a(href="#").social__icon 
								img(src="img/twitter-icon.svg", alt="")
			//	/social
// /footer