mixin full-news()
  // full-news
  article.full-news
    a(href="#")
      .full-news__row
        .full-news__col.full-news__col--1
          .full-news__img
            img(src="img/news-thumbnail_3.jpg", alt="")
        .full-news__col.full-news__col--2
          .full-news__category госрегулирование
          h2.full-news__title На газопроводе СИБУРА в ХМАО произошло возгорание
          .full-news__text На подводном переходе через реку Обь газопровода Нижневартовский ГПЗ—Южно-Балыкский ГПЗ 6 марта  произошел пропуск широкой фракции легких углеводородов (ШФЛУ) с последующим кратковременным возгоранием, сообщила пресс-служба СИБУРа. 
          .full-news__time 11:25 / 4 МАРТА 2021
  // /full-news