.orange-news {
  height: 100%;
  background-color: $orange;
  box-shadow: $shadow;
  > a {
    display: block;
    height: 100%;
    padding: 65px 32px;
  }
  &__title {
    font-size: 27px;
    line-height: 39px;
    font-weight: 600;
    color: #fff;
  }
  &:hover {
    box-shadow: $shadowHov;
  }
  @include media-breakpoint-down(lg) {
    > a {
      padding: 30px 5%;
    }
    &__title {
      font-size: 15px;
      line-height: 20px;
    }
  }
}